.block-style {
  display: flex;
  flex-direction: row;
  height: 35rem;
  margin: 0 auto;
  padding: auto;
}

ul {
  padding: 0;
  margin: 0;
}
#block-list-item {
  border: 8px;
  border-color: black;
  padding: 0.2rem;
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
}
#block-list-item:hover {
  background-color: rgb(37, 55, 83);
  cursor: pointer;
}

hr {
  width: 94%;
  opacity: 60%;
}

#card-header {
  background-color: rgb(23, 31, 43);
  margin: 0;
  text-align: center;
}

/* Remove after ControlPanel.js has been completed↓ */
#flexy {
  display: flex;
  height: 80%;
}

#block-list {
  width: 20%;
  height: 80%;
  background-color: rgba(54, 74, 99, 0.8);
  overflow-y: auto;
  margin: auto 2rem;
  /* display: flex; */
}