/* .App { */
/* text-align: center; */
/* } */

body {
  align-items: center;
  margin: 0;
  padding: 0;
  color: rgb(146, 152, 152);
  font-family: 'Nova Square', sans-serif;
  user-select: none;
}

#background-image {
  height: 100vh;
  background-image: url('/images/led-screen.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#parent-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#opened-display {
  width: 70%;
  height: 90%;
  background-color: rgba(42, 58, 78, 0.8);
  border-radius: 8px;
  border: 0.05rem;
  border-style: solid;
  border-color: rgba(116, 137, 163, 0.5);
}
#display-button {
  background-color: rgba(7, 246, 246, 0.2);
  border: 0;
  margin: 0rem;
  padding: 13rem;
  padding-bottom: 14rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 600%;
  font-family: 'Nova Square', sans-serif;
  color: rgb(107, 119, 119);
  border-radius: 8px;
}
